@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container mt-3" style="padding: 0px 4rem;">
    @{ Html.RenderAction("CreateAndEdit", "Store"); }
</div>

<script>
    $('#btn_Close').show();
    $('#btn_CreateOrEditStore').html("Tạo cửa hàng");

    $('#btn_CreateOrEditStore').click(createStore());
</script>



