
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center" style="margin:11rem 0;">
    <img src="~/Images/43-432523_image-black-tokyo-ghoul-clipart-black-and-white.png" width="12%"/>
    <h1 class="text-gray-500 mt-5">Bạn chưa tạo thông tin cửa hàng nào .</h1>
    <h2 class="text-gray-500 ">Tạo tại <a href="/Store/Create" class="text-wrap text-uppercase">đây</a></h2>
</div>

<script>
</script>