
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!------>
<link href="~/Scripts/Leaflet/LeafLet/leaflet.css" rel="stylesheet" />
<script src="~/Scripts/Leaflet/LeafLet/leaflet.js"></script>
<!------>
<script src="~/Scripts/Leaflet/Control.FullScreen.js"></script>
<link href="~/Content/Leaflet/Control.FullScreen.css" rel="stylesheet" />
<!------>
<link href="~/Content/Leaflet/Control.Coordinates-0.1.5.css" rel="stylesheet" />
<script src="~/Scripts/Leaflet/Control.Coordinates-0.1.5.min.js"></script>
<!------>
<link href="~/Content/Leaflet/Control.MarkerHighLight.css" rel="stylesheet" />
<script src="~/Scripts/Leaflet/Control.MarkerHighLight.js"></script>
<!------>
<script src="~/Scripts/Leaflet/Control.MakiMarkers.js"></script>
<!------>
<!------>
<script src="~/Scripts/Leaflet/Search Control/esri-leaflet.js"></script>
<link href="~/Scripts/Leaflet/Search Control/src/esri-leaflet-geocoder.css" rel="stylesheet" />
<script src="~/Scripts/Leaflet/Search Control/src/esri-leaflet-geocoder.js"></script>
<!------>
<script src="~/Scripts/Leaflet/Common/Common.js"></script>

<style>
    .leaflet-popup-content {
        margin: 15px 25px;
        line-height: 1.4;
    }

    .label {
        display: inline;
        padding: .2em .6em .3em;
        font-size: 75%;
        font-weight: 700;
        line-height: 1;
        color: #656;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: .25em;
    }

    #idGasMap {
        width: 100%;
        height: 600px;
    }

    .map-popup-content {
        width: 260px;
    }

        .map-popup-content .left {
            float: left;
            width: 45%;
        }

            .map-popup-content .left img {
                width: 100%;
                height: 100px;
                margin: -15px 0 -15px -20px;
                border-radius: 12px;
            }

        .map-popup-content .right {
            float: left;
            width: 55%;
        }

    .clearfix {
        clear: both;
    }

    .toggle {
        background: orange !important;
    }

        .toggle:hover {
            background: darkorange !important;
        }


    .marker-pin {
        width: 30px;
        height: 30px;
        border-radius: 50% 50% 50% 0;
        background: #c30b82;
        position: absolute;
        transform: rotate(-45deg);
        left: 50%;
        top: 50%;
        margin: -15px 0 0 -15px;
    }

        .marker-pin::after {
            content: '';
            width: 24px;
            height: 24px;
            margin: 3px 0 0 3px;
            background: #fff;
            position: absolute;
            border-radius: 50%;
        }

    .custom-div-icon i {
        position: absolute;
        width: 22px;
        font-size: 22px;
        left: 0;
        right: 0;
        margin: 10px auto;
        text-align: center;
    }

        .custom-div-icon i.awesome {
            margin: 12px auto;
            font-size: 17px;
        }

    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        /*z-index: 1;*/ /* Sit on top */
        padding-top: 12rem; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        border: 1px solid #888;
        width: 36%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        animation-name: animatetop;
        animation-duration: 0.5s
    }

    @@keyframes animatetop {
        from {
            top: -300px;
            opacity: 0
        }

        to {
            top: 0;
            opacity: 1
        }
    }

    .closeX {
        color: white;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .closeX:hover,
        .closeX:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

    .modal-body, .modal-header, .modal-footer {
        padding: 3px 16px;
        margin: 3px;
    }
</style>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">
        <i class="glyphicon glyphicon-phone-alt" style="color:#ca4d1f;font-size:19px;"></i>
        <span style="font-weight: 500;font-size: initial;font-family: sans-serif;font-size:18px;">Tạo yêu cầu dịch vụ</span>
    </h1>
    <button onclick="goToCurrentLocation()" class="h3 mb-0 btn btn-default" style="background-color:#fdecec;"><i class="glyphicon glyphicon-tags mr-1 mt-1" style="color:#ca4d1f;font-size:19px;"></i>   <span style="font-weight: 500;font-size: initial;font-family: sans-serif;font-size:18px;">Vị trí của bạn</span></button>
</div>
<div class="@*container body-content*@" style="margin-top:0.1rem;">
    <div id="idGasMap"></div>
    <hr />
</div>


<div id="div_CreateReqFromGuest" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <h2>Form tạo yêu cầu </h2>
            @*<span class="closeX" style="color:black">&times;</span>*@
        </div>
        <div class="modal-body">
            <br />
            <div class="">
                <div class="form-group">
                    <label for="exampleFormControlInput1">Dịch vụ yêu cầu</label>
                    <br />
                    <div id="checkBox_Area"></div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="reqID" id="rdo_Refer" value="0">
                        <label class="form-check-label" for="inlineCheckbox1">Tư vấn</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="reqID" id="rdo_Repair" value="1">
                        <label class="form-check-label" for="inlineCheckbox1">Sửa chữa</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="reqID" id="rdo_BuyGas" value="2">
                        <label class="form-check-label" for="inlineCheckbox1">Mua bình gas</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="reqID" id="rdo_BuyStove" value="3">
                        <label class="form-check-label" for="inlineCheckbox1">Mua bếp gas</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="reqID" id="rdo_BuyOther" value="4">
                        <label class="form-check-label" for="inlineCheckbox1">Mua vật dụng khác</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput2">Địa chỉ</label>
                    <input type="text" name="address" class="form-control" id="Address" required>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput3">Điện thoại</label>
                    <input type="email" name="phone" class="form-control" id="Phone" placeholder="09xxx" required>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput4">Latitude</label>
                    <input type="text" name="" class="form-control" id="Latitude" disabled>
                </div>

                <div class="form-group">
                    <label for="exampleFormControlInput4">Longitude</label>
                    <input type="text" name="" class="form-control" id="Longitude" disabled>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput5">Yêu cầu chi tiết</label>
                    <textarea class="form-control" rows="6" id="Description"></textarea>
                </div>
            </div>
        </div>
        <br />
        <div class="modal-footer mb-2">
            <button class="btn btn-success" onclick="createRequest()">Tạo yêu cầu</button>
            <button class="btn btn-danger" onclick="closePopupX()">Thoát</button>
        </div>
    </div>

</div>

<!--------------GLOBAL VARIABLES------------->
<script>
    var lat = null;
    var long = null;
    var popupContent = null;
    var defaultCoord = null;
    var mapObj = null;
    var marker = null;
    var minimap = null;
    var flagMarkerCurLocation = false;
    var markerGroup = null;

    var popup = L.popup();

    var osm = new L.TileLayer(STR_OSM_URL, { minZoom: 5, maxZoom: 18, attribution: STR_OSM_ATTRIBUTE });
    var osm2 = new L.TileLayer(STR_OSM_URL, { minZoom: 0, maxZoom: 13, attribution: STR_OSM_ATTRIBUTE });
</script>


<!--------------WINDOWN ON LOAD------------->
<script>
    // Window load
    window.onload = function () {

        if (typeof (Storage) !== "undefined") {
            var curLocation = localStorage.getItem("curLocation");
            if (curLocation != null) {
                flagMarkerCurLocation = true;
                var latAndLng = curLocation.split(",");
                defaultCoord = [Number(latAndLng[0]), Number(latAndLng[1])];
            }
        }

        if (defaultCoord == null) {
            defaultCoord = [21.061540, 105.781103];//toạ độ mặc địNH Ở PHẠM VĂN ĐỒNG
        }
        var mapConfig = {
            attributionControl: true, // hiện watermark
            center: defaultCoord, // vị trí map mặc định hiện tại
            zoom: INT_ZOOM_MAP_LEVEL, // level zoom
            fullscreenControl: true,
            fullscreenControlOptions: {
                position: 'topleft'
            }
        };

        mapObj = new L.map('idGasMap', mapConfig);

        mapObj.addLayer(osm);
        //
        addCoordBox(mapObj);

        addSearchControl(mapObj);

        markerGroup = L.layerGroup().addTo(mapObj);
        //////////////
        if (this.flagMarkerCurLocation)
            setMarkerCurrentLocation(defaultCoord);

        mapObj.on('click', onMapClick);



    };

</script>

<script>
    function setMarkerCurrentLocation(defaultCoord) {
        const locationIcon = L.MakiMarkers.icon({
            // icon: "beer",
            icon: "star-stroked",
            color: "#13a",
            size: "xl"
        });

        marker = new L.marker(defaultCoord, { icon: locationIcon });

        marker.options.highlight = "permanent";
        mapObj.markers = marker;
        var popup = L.popup();
        popup.setContent("<span>Đây là vị trí của bạn </span>");

        // binding
        marker.bindPopup(popup);
        marker.addTo(markerGroup);
    }

    function addMarker(coord, popupContent, popupOptionObj) {

        const storeIcon = L.MakiMarkers.icon({
            //icon: "beer",
            icon: "building",
            color: "#12a",
            size: "l"
        });

        marker = new L.marker(coord, { icon: storeIcon });

        //console.log(marker);

        marker.options.highlight = "permanent";
        //marker.addTo(mapObj);
        mapObj.markers = marker;
        var popup = L.popup(popupOptionObj);
        popup.setContent(popupContent);

        // binding
        marker.bindPopup(popup);
        marker.addTo(markerGroup);


    }

    function onMapClick(e) {
        long = e.latlng.lng.toFixed(5);//lấy giá trị long
        lat = e.latlng.lat.toFixed(5);//lấy giá trị lat
        var html = `<h4>Toạ độ (` + lat + `,` + long + `)</h4>
        <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" onclick="showPopUpX()"><i class="glyphicon glyphicon-plus"></i> Tạo yêu cầu ở đây </button>`;
        popup
            .setLatLng(e.latlng)
            .setContent(html)
            .openOn(mapObj);//hiện popup
        //console.log(e.latlng);
    }

    function showPopUpX() {
        modal_CreReqFrmGue.style.display = "block";

        $('#Latitude').val(lat);
        $('#Longitude').val(long);
    }

    function goToCurrentLocation() {
        navigator.geolocation.getCurrentPosition
            (
            function (location) {
                var currentLocation = new L.LatLng(location.coords.latitude, location.coords.longitude);
                mapObj.setView(currentLocation, INT_ZOOM_MAP_LEVEL);
                var curLocation = [location.coords.latitude, location.coords.longitude];
                markerGroup.clearLayers();
                setMarkerCurrentLocation(curLocation);
                localStorage.removeItem("curLocation");
                localStorage.setItem("curLocation", curLocation);
            });
    }

</script>

<script>
    var modal_CreReqFrmGue = document.getElementById("div_CreateReqFromGuest");

    //var spanX = document.getElementsByClassName("closeX")[0];
    // When the user clicks the button, open the modal
    //btn.onclick = function () {
    //    modal_CreReqFrmGue.style.display = "block";
    //}

    function closePopupX() {
        modal_CreReqFrmGue.style.display = "none";
    }

    // When the user clicks on <span> (x), close the modal
    //spanX.onclick = function () {
    //    modal_CreReqFrmGue.style.display = "none";
    //}

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal_CreReqFrmGue) {
            modal_CreReqFrmGue.style.display = "none";
        }
    }
</script>

<script>
    function createRequest() {
        var userIDBySes = sessionStorage.getItem("UserID");

        var address = $('#Address').val();
        var phone = $('#Phone').val();
        var lat = $('#Latitude').val();
        var long = $('#Longitude').val();
        var description = $('#Description').val();

        var reqID = null;

        if ($('#rdo_Refer').is(':checked'))
            reqID = REQUEST_FROM_GUEST.Refer.Value;
        else if ($('#rdo_Repair').is(':checked'))
            reqID = REQUEST_FROM_GUEST.Repair.Value;
        else if ($('#rdo_BuyGas').is(':checked'))
            reqID = REQUEST_FROM_GUEST.Buy.Gas.Value;
        else if ($('#rdo_BuyStove').is(':checked'))
            reqID = REQUEST_FROM_GUEST.Buy.Stove.Value;
        else if ($('#rdo_BuyOther').is(':checked'))
            reqID = REQUEST_FROM_GUEST.Buy.Other.Value;

        var requestFromGuest =
        {
            UserID: userIDBySes,
            RequestID: reqID,
            Description: description,
            Address: address,
            Phone: phone,
            Latitude: lat,
            Longitude :long
        }
        console.log(requestFromGuest);

        $.ajax({
            type: 'Get',
            contentType: 'application/json; charset=utf-8',
            url: '/RequestFromGuest/Create',
            dataType: 'Json',
            data: requestFromGuest,
            success: function (data) {
                console.log(data);

                var status = data.status;
                var message = data.message;

                switch (status) {
                    case 0:
                        message_Error("", message);
                        break;
                    case 1:
                        message_Success(message);

                        setTimeout(function () {
                            modal_CreReqFrmGue.style.display = "none";
                            clearValueInCreateReqArea();
                        }, 1e3);

                        break;
                }
            },
            error: function (data) {
                message_Error("", "Tạo yêu cầu thất bại.");
            },
        });
    }
</script>

<script>
    function clearValueInCreateReqArea() {
        $('#Address').val("");
        $('#Phone').val("");
        $('#Latitude').val("");
        $('#Longitude').val("");
        $('#Description').val("");

        if ($('#rdo_Refer').is(':checked'))
            $('#rdo_Refer').removeAttr("checked");
        else if ($('#rdo_Repair').is(':checked'))
            $('#rdo_Repair').removeAttr("checked");
        else if ($('#rdo_BuyGas').is(':checked'))
            $('#rdo_BuyGas').removeAttr("checked");
        else if ($('#rdo_BuyStove').is(':checked'))
            $('#rdo_BuyStove').removeAttr("checked");
        else if ($('#rdo_BuyOther').is(':checked'))
            $('#rdo_BuyOther').removeAttr("checked");
    }
</script>
