@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-3" style="padding: 0px 13rem;">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <h1 class="text-center mt-2">Thông tin khách hàng</h1>
        <form style="padding:4rem 6rem 6rem">
            <div class="col-md-8 col-xs-8 col-lg-8 col-sm-8">
                <div class="form-group">
                    <label for="exampleFormControlInput1">Họ và tên</label>
                    <input type="text" name="fullname" class="form-control" id="GuestName" placeholder="Phạm Văn K" required>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput2">Ngày sinh</label>
                    <input type="date" class="form-control" id="GuestBirth" name="birthday">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput3">Số điện thoại</label>
                    <input type="text" name="phone" class="form-control" id="GuestPhone" placeholder="03277158868" required>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput4">Email</label>
                    <input type="email" name="email" class="form-control" id="GuestEmail" placeholder="" abc@gmail.com" required>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect5">Giới tính</label>
                    <select class="form-control" id="selectGuestSex">
                        <option value="0">Male</option>
                        <option value="1">Female</option>
                        <option value="2">Other...</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput6">Địa chỉ:</label>
                    <input type="text" name="address" class="form-control" id="GuestAddress" placeholder="abcvzsdasd">
                </div>
            </div>
            <div class="col-md-4 col-xs-4 col-lg-4 col-sm-4">
                <div class="form-group">
                    <div style="height: 30rem;width: 100%;position: absolute;border: 2px solid #cd8e8e;">
                        <img src="~/Images/avataaars-2.png" id="GuestImg" style="position: relative;width: 100%;height: 100%;padding: 0.4rem;" />
                    </div>
                </div>
                <div class="form-group" onload="myFunction()" style="margin-top: 31rem;">
                    <input type="file" id="myFile" multiple size="50" onchange="myFunction()">
                    <p id="demo"></p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                <button type="button" class="btn btn-success" onclick="createGuestInfor()">Cập nhật thông tin</button>
                <a href="/Store/Index" class="btn btn-danger">Thoát</a>
            </div>
        </form>
    </div>
</div>



<script>
    $(".loader").hide();
    $("#introProject").hide();

    loadGuestInfo();

    function loadGuestInfo() {
        var userIDBySes = sessionStorage.getItem("UserID");
        console.log(userIDBySes);
        $.ajax({
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            url: '/Guest/Get?userid=' + userIDBySes,
            async: false,
            dataType: 'Json',
            success: function (data) {

                $('#GuestName').val(data.GuestName);
                $('#GuestPhone').val(data.GuestPhone);
                $('#GuestEmail').val(data.GuestEmail);
                $('#GuestAddress').val(data.GuestAddress);
                $("#GuestImg").attr("src", data.ImgSrc);

                var sex = data.GuestSex;
                if (sex > 2 || sex < 0) sex = 0
                $('#selectGuestSex').val(sex);

                var bdate = new Date(parseInt(data.GuestBirthday.substr(6)));
                var month = bdate.getMonth() + 1;
                if (month < 10) month = "0" + month;
                var day = bdate.getDate();
                if (day < 10) day = "0" + day;
                var year = bdate.getFullYear();
                var date = year + "-" + month + "-" + day;
                $('#GuestBirth').val(date);
            },
            error: function (data) {
                localStorage.setItem("successMess", JSON.stringify("Lỗi hệ thống"));
            },
        });

    }

    function checkValid() {
        var strLength = "Tối đa 20 kí tự"
        var strEmpty = "Chưa nhập thông tin";
        var strFormatPhone = "Định dạng điện thoại sai";

        var fullname = document.getElementById("GuestName").value;
        var phone = document.getElementById("GuestPhone").value;
        var email = document.getElementById("GuestEmail").value;
        var addr = document.getElementById("GuestAddress").value;

        var vnf_regex = /((09|03|07|08|05)+([0-9]{8})\b)/g;
        var reg = /^[^\s@@]+@@[^\s@@]+\.[^\s@@]+$/;

        if (fullname === "") {
            message_Error("GuestName", strEmpty);
            return false;
        }
        else if (fullname.length > 20) {
            message_Error("GuestName", strLength);
            return false;
        }

        if (phone === "") {
            message_Error("GuestPhone", strEmpty);
            return false;
        }
        else {
            if (vnf_regex.test(phone) == false) {
                message_Error("GuestPhone", strFormatPhone);
                return false;
            }
        }

        if (email === "") {
            message_Error("GuestEmail", strEmpty);
            return false;
        }
        else {
            if (reg.test(email) == false) {
                message_Error("GuestEmail", strEmpty);
                return false;
            }
        }

        if (addr === "") {
            message_Error("GuestAddress", strEmpty);
            return false;
        }

        return true;
    }

    function createGuestInfor() {
        if (checkValid()) {
            var status = 1;
            var userIDBySes = sessionStorage.getItem("UserID");

            var guestName = $('#GuestName').val();
            var guestPhone = $('#GuestPhone').val();
            var guestEmail = $('#GuestEmail').val();
            var guestAddr = $('#GuestAddress').val();
            var guestSex = $('#selectGuestSex').val();
            var guestBirth = $('#GuestBirth').val();
            var imgSrc = $('#GuestImg').attr('src');

            var guest = {
                GuestName: guestName,
                GuestPhone: guestPhone,
                GuestEmail: guestEmail,
                GuestSex: guestSex,
                GuestAddress: guestAddr,
                GuestBirthday: guestBirth,
                ImgSrc: imgSrc,
                UserID: userIDBySes
            }
            console.log(guest);

            $.ajax({
                type: 'Get',
                contentType: 'application/json; charset=utf-8',
                url: '/Guest/Edit',
                dataType: 'Json',
                data: guest,
                success: function (data)
                {
                    status = data.status;
                    permissID = data.permissionId;
                    if (data.permissionId != null)
                        sessionStorage.setItem("PermissionID", data.permissionId);
                    if (data.guestName != null)
                        sessionStorage.setItem("GuestName", data.guestName);
                    if (status == 0)
                        message_Success("Cập nhật thông tin thành công");

                    if (permissID == 1) {
                        setTimeout(function () {
                            modal2.style.display = "block";
                        }, 1800)
                    }
                },
                error: function (data) {
                    message_Error("", "Cập nhật thông tin thất bại")
                },
            });

        }
    }
</script>