@model MVC_Gas_Map.Models.User

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .auto-style1 {
        text-align: center;
        font-family: "Segoe UI";
    }

    .auto-style2 {
        position: relative;
        width: 100%;
        flex: 0 0 50%;
        left: 0px;
        top: 0px;
        padding-left: .75rem;
        padding-right: .75rem;
    }
</style>
<div>
    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-5 col-md-5">

                <div class="card o-hidden border-0 shadow-lg my-5" id="loginin">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="auto-style2">
                            <div class="p-5">
                                <span class="ml-3">Tên đăng nhập</span>
                                <div class="form-group">
                                    <input class="form-control form-control-user" id="txt_UserToLogin" type="text" value="" />
                                </div>
                                <span class="ml-3">Mật khẩu</span>
                                <div class="form-group">
                                    <input class="form-control form-control-user" id="txt_PassToLogin" type="password" value="" />

                                </div>
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox small">
                                        <input type="checkbox" class="custom-control-input" id="customCheck">
                                        <asp:Label ID="lbl_tb" runat="server" ForeColor="Red"></asp:Label>
                                        <br />
                                        &nbsp;
                                        <label class="custom-control-label" for="customCheck">Remember Me</label>
                                    </div>
                                </div>
                                <div>
                                    <input class="btn btn-facebook btn-user btn-block" id="txt_username2" name="UserName" onclick="loginSystem()" type="submit" value="Đăng nhập" />
                                    @*<asp:Button ID="btn_login" runat="server" class="btn btn-primary btn-user btn-block" Text="Login" OnClick="btn_login_Click" />*@
                                </div>
                                <hr>
                                <a href="index.html" class="btn btn-google btn-user btn-block">
                                    <i class="fa fa-google fa-fw"></i> Login with Google
                                </a>
                                <a href="" class="btn btn-facebook btn-user btn-block">
                                    <i class="fa fa-facebook-f fa-fw"></i> Login with Facebook
                                </a>

                                <hr>
                                <div class="text-center">
                                    <a class="small" href="forgot-password.html">Forgot Password?</a>
                                </div>
                                <div class="auto-style1">
                                    <a href="#" id="btn_ToggleCreateAcc" onclick="toggleCreateAccSection()" class="small">Create an Account!</a>
                                    <br />
                                </div>
                                <div style="margin-top: 1rem;display:none;" id="createAccSection">
                                    @*@using (Ajax.BeginForm("Create", "Login",
                                            new AjaxOptions
                                            {   HttpMethod = "POST"
                                                }
                                            ,new
                                            { id="createFrom"}))
                                        {
                                            <span class="ml-3">Tên đăng nhập</span>
                                            <div class="form-group">
                                                @Html.TextBoxFor(model => model.UserID , new { @class = "form-control form-control-user", id= "txt_UserToCreate" })
                                            </div>
                                            <span class="ml-3">Nhập mật khẩu</span>
                                            <div class="form-group">
                                                @Html.PasswordFor(model => model.Password, new { @class = "form-control form-control-user", id = "txt_PassToCreate" })
                                            </div>
                                            <span class="ml-3">Nhập lại mật khẩu</span>
                                            <div class="form-group">
                                                <input class="form-control form-control-user" id="txt_Pass2ToCreate" type="password" value="" />
                                            </div>
                                            <div class="form-group">
                                                <input class="btn btn-primary btn-user btn-block" id="btn_CreateUser" type="submit" />
                                            </div>
                                        }*@

                                    <span class="ml-3">Tên đăng nhập</span>
                                    <div class="form-group">
                                        <input class="form-control form-control-user" id="txt_UserToCreate" type="text" value="" />
                                    </div>
                                    <span class="ml-3">Nhập mật khẩu</span>
                                    <div class="form-group">
                                        <input class="form-control form-control-user" id="txt_PassToCreate" type="password" value="" />
                                    </div>
                                    <span class="ml-3">Nhập lại mật khẩu</span>
                                    <div class="form-group">
                                        <input class="form-control form-control-user" id="txt_Pass2ToCreate" type="password" value="" />
                                    </div>
                                    <div class="form-group">
                                        <input class="btn btn-primary btn-user btn-block" id="btn_CreateUser" onclick="createUser()" type="submit" value="Đăng kí" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

