@model MVC_Gas_Map.Models.User
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .auto-style1 {
        text-align: center;
        font-family: "Segoe UI";
    }

    .auto-style2 {
        position: relative;
        width: 100%;
        flex: 0 0 50%;
        left: 0px;
        top: 0px;
        padding-left: .75rem;
        padding-right: .75rem;
    }
</style>
<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-5 col-md-5">

            <div class="card o-hidden border-0 shadow-lg my-5" id="loginin">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="auto-style2">
                        <div class="p-5">
                            <span class="ml-3">Tên đăng nhập</span>
                            <div class="form-group">
                                <input class="form-control form-control-user" id="txt_UserToLogin" type="text" value="" />
                            </div>
                            <span class="ml-3">Mật khẩu</span>
                            <div class="form-group">
                                <input class="form-control form-control-user" id="txt_PassToLogin" type="password" value="" />

                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-checkbox small">
                                    <input type="checkbox" class="custom-control-input" id="customCheck">
                                    <asp:Label ID="lbl_tb" runat="server" ForeColor="Red"></asp:Label>
                                    <br />
                                    &nbsp;
                                    <label class="custom-control-label" for="customCheck">Remember Me</label>
                                </div>
                            </div>
                            <div>
                                <input class="btn btn-facebook btn-user btn-block" id="txt_username2" name="UserName" onclick="loginSystem()" type="submit" value="Đăng nhập" />
                                @*<asp:Button ID="btn_login" runat="server" class="btn btn-primary btn-user btn-block" Text="Login" OnClick="btn_login_Click" />*@
                            </div>
                            <hr>
                            <a href="index.html" class="btn btn-google btn-user btn-block">
                                <i class="fa fa-google fa-fw"></i> Login with Google
                            </a>
                            <a href="" class="btn btn-facebook btn-user btn-block">
                                <i class="fa fa-facebook-f fa-fw"></i> Login with Facebook
                            </a>

                            <hr>
                            <div class="text-center">
                                <a class="small" href="forgot-password.html">Forgot Password?</a>
                            </div>
                            <div class="auto-style1">
                                <a href="#" id="btn_ToggleCreateAcc" onclick="toggleCreateAccSection()" class="small">Create an Account!</a>
                                <br />
                            </div>
                            <div style="margin-top: 1rem;display:none;" id="createAccSection">
                                @*@using (Ajax.BeginForm("Create", "Login",
                                        new AjaxOptions
                                        {   HttpMethod = "POST"
                                            }
                                        ,new
                                        { id="createFrom"}))
                                    {
                                        <span class="ml-3">Tên đăng nhập</span>
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.UserID , new { @class = "form-control form-control-user", id= "txt_UserToCreate" })
                                        </div>
                                        <span class="ml-3">Nhập mật khẩu</span>
                                        <div class="form-group">
                                            @Html.PasswordFor(model => model.Password, new { @class = "form-control form-control-user", id = "txt_PassToCreate" })
                                        </div>
                                        <span class="ml-3">Nhập lại mật khẩu</span>
                                        <div class="form-group">
                                            <input class="form-control form-control-user" id="txt_Pass2ToCreate" type="password" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input class="btn btn-primary btn-user btn-block" id="btn_CreateUser" type="submit" />
                                        </div>
                                    }*@

                                <span class="ml-3">Tên đăng nhập</span>
                                <div class="form-group">
                                    <input class="form-control form-control-user" id="txt_UserToCreate" type="text" value="" />
                                </div>
                                <span class="ml-3">Nhập mật khẩu</span>
                                <div class="form-group">
                                    <input class="form-control form-control-user" id="txt_PassToCreate" type="password" value="" />
                                </div>
                                <span class="ml-3">Nhập lại mật khẩu</span>
                                <div class="form-group">
                                    <input class="form-control form-control-user" id="txt_Pass2ToCreate" type="password" value="" />
                                </div>
                                <div class="form-group">
                                    <input class="btn btn-primary btn-user btn-block" id="btn_CreateUser" onclick="createUser()" type="submit" value="Đăng kí" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var flagCheckCapLock = true;
    var flagStatusCreateAccSec = false;
    var mode = 0;

    var url = new URL(document.URL);
    var search_params = url.searchParams;
    if (search_params.has('mode')) mode = 1;

    window.onload = function () {

        if (mode == 1) {
            toggleCreateAccSection();
        }
        else
            $('#txt_UserToLogin').focus();

        checkCapLock("txt_UserToLogin");
        checkCapLock("txt_PassToLogin");
        checkCapLock("txt_UserToCreate");
        checkCapLock("txt_PassToCreate");
        checkCapLock("txt_Pass2ToCreate");
    }

    //

    function toggleCreateAccSection() {
        if (!flagStatusCreateAccSec) {
            $("#createAccSection").show();
            flagStatusCreateAccSec = true;
            $('#txt_UserToCreate').focus();
            scrollToSection('createAccSection');
        }
        else {
            $("#createAccSection").hide();
            flagStatusCreateAccSec = false;
            scrollToIntroSection_FrLogin('loginin');
            $('#txt_UserToLogin').focus();

            $('#txt_UserToCreate').val('');
            $('#txt_PassToCreate').val('');
            $('#txt_Pass2ToCreate').val('');
        }
    }

    function createUser() {
        if (checkValidInputToCreateUser('txt_UserToCreate', 'txt_PassToCreate', 'txt_Pass2ToCreate')) {
            $(".loader").show();

            var status = 2;

            var userName = $('#txt_UserToCreate').val();
            var passWord = $('#txt_PassToCreate').val();

            var user = { UserName: userName, Password: passWord, PermissionID: 0 };

            $.ajax({
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                url: '/Login/Create',
                async: false,
                dataType: 'Json',
                data: JSON.stringify(user),
                success: function (data) {
                    status = data.status;

                    switch (status) {
                        case 0:
                            localStorage.setItem("successMess", JSON.stringify("Tạo tài khoản " + userName + " thành công"));
                            window.location.href = "/Login/Index";
                            break;
                        case 1:
                            localStorage.setItem("errorMess", JSON.stringify("Tên tài khản đã tồn tại"));
                            window.location.href = "/Login/Index?mode=1";
                            break;
                    }
                },
                error: function (data) {
                    localStorage.setItem("errorMess", JSON.stringify("Tạo tài khoản thất bại"));
                    window.location.href = "/Login/Index?mode=1";
                },
            });

            $(".loader").hide();
        }
    }

    function checkValidInputToCreateUser(idUser, idPass, idPass2) {

        var strInputAgain = "Mật khẩu nhập lại không giống mật khẩu đầu tiên";

        if (!checkValidTxt(idUser)) return false;

        if (!checkValidTxt(idPass)) return false;

        if (idPass2 !== "") {
            if (!checkValidTxt(idPass)) return false;
            var strPass = $('#' + idPass).val();
            var strPass2 = $('#' + idPass2).val();
            if (strPass !== strPass2) {
                message_Error(idPass2, strInputAgain);
                return false;
            }
        }
        return true;
    }

    function loginSystem() {
        if (checkValidInputToCreateUser('txt_UserToLogin', 'txt_PassToLogin', '')) {
            if (flagCheckCapLock) {
                $(".loader").show();

                var status = 1;
                var permissionID = 0;
                var userID = null;
                var guestName = null;
                var imgSrc = null;
                var userName = $('#txt_UserToLogin').val();
                var passWord = $('#txt_PassToLogin').val();
                var user = { UserName: userName, Password: passWord }

                $.ajax({
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    url: '/Login/Get',
                    async: false,
                    dataType: 'Json',
                    data: JSON.stringify(user),
                    success: function (data) {
                        console.log(data);

                        status = data.status;
                        permissionID = data.permissionID;
                        userID = data.userID;
                        guestName = data.guestName;
                        imgSrc = data.imgSrc;

                        switch (status) {
                            case 0:
                                sessionStorage.setItem("UserID", userID);
                                sessionStorage.setItem("PermissionID", permissionID);
                                sessionStorage.setItem("GuestName", guestName);
                                sessionStorage.setItem("ImgSrc", imgSrc);

                                localStorage.setItem("successMess", JSON.stringify("Đăng nhập thành công"));
                                window.location.href = (permissionID == 0) ? "/Guest/Index" : "/Home/Index";
                                break;
                            case 1:
                                localStorage.setItem("errorMess", JSON.stringify("Tài khoản hoặc mật khẩu không đúng"));
                                window.location.href = "/Login/Index";
                                break;
                        }
                    },
                    error: function (data) {
                        localStorage.setItem("errorMess", JSON.stringify("Lỗi đăng nhập . Xin thử lại"));
                        window.location.href = "/Login/Index";
                    },
                });

                $(".loader").hide();
            }
            else
                message_Error("", "Thông tin bạn nhập vào đang có chữ cái in hoa.Hãy nhập lại !!!");
        }
    }
</script>
