<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gọi gas nhanh như gọi đò</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Sb.admin.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="~/Scripts/jquery.min.js"></script>
    <style>

        .imgSocialNet {
            margin-right: 0.8rem;
            height: 4.0rem;
            width: 10%;
        }

        .loader {
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 100;
            width: 100%;
            height: 100%;
            background-color: white;
            background-image: url('../../Images/untitled_2.gif');
            background-repeat: no-repeat;
            background-position: center;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            /*z-index: 1;*/ /* Sit on top */
            padding-top: 12rem; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
            position: relative;
            background-color: #fefefe;
            margin: auto;
            padding: 0;
            border: 1px solid #888;
            width: 24%;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
            animation-name: animatetop;
            animation-duration: 0.5s
        }

        @@keyframes animatetop {
            from {
                top: -300px;
                opacity: 0
            }

            to {
                top: 0;
                opacity: 1
            }
        }

        .close {
            color: white;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .close:hover,
            .close:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }

        .modal-body, .modal-header, .modal-footer {
            padding: 3px 16px;
            margin: 3px;
        }
    </style>
</head>
<body id="page-top">
    <div class="loader"></div>
    <div id="wrapper">
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" style="margin-bottom:0rem !important">
                    <a class="navbar-brand btn btn-danger" style="font-size:1.8rem;padding:1rem 2.4rem;" href="/Store/Index">Trang chủ</a>
                    <a class="navbar-brand btn btn-group" id="btn_GoToCusPage" style="display:none;" href="/Guest/Details">Gọi Gas</a>
                    <a class="navbar-brand btn btn-group" id="btn_GoToStorePage" style="display:none;" href="/Store/Details">Quản lí cửa hàng</a>
                    <a class="navbar-brand btn btn-group" href="#" onclick="scrollToSection(introProject)" id="introProject">Giới thiệu về chúng tôi</a>
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <ul class="navbar-nav ml-auto" id="loginArea" style="display:none;">
                        <a class="btn btn-danger" style="font-size:1.5rem;padding:0.8rem 2.2rem;background-color:#f5cf71!important;margin-right:1.2rem;" href="/Login/Index?mode=1">Đăng kí tài khoản</a>
                        <a class="btn btn-danger" style="font-size:1.5rem;padding:0.8rem 2.2rem;background-color:#4e73df!important;" href="/Login/Index">Đăng nhập</a>
                    </ul>
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto" id="userArea" style="display:none;font-size: 1.5rem;">
                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <span class="badge badge-danger badge-counter">3+</span>
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Alerts Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 12, 2019</div>
                                        <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-success">
                                            <i class="fas fa-donate text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 7, 2019</div>
                                        $290.29 has been deposited into your account!
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 2, 2019</div>
                                        Spending Alert: We've noticed unusually high spending for your account.
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                            </div>
                        </li>

                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-envelope fa-fw"></i>
                                <!-- Counter - Messages -->
                                <span class="badge badge-danger badge-counter">7</span>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Message Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="" alt="">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate">Hi there! I am wondering if you can help me with a problem I've been having.</div>
                                        <div class="small text-gray-500">Emily Fowler · 58m</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="" alt="">
                                        <div class="status-indicator"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">I have the photos that you ordered last month, how would you like them sent to you?</div>
                                        <div class="small text-gray-500">Jae Chun · 1d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="" alt="">
                                        <div class="status-indicator bg-warning"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Last month's report looks great, I am very happy with the progress so far, keep up the good work!</div>
                                        <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="" alt="">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good...</div>
                                        <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 " id="guestName"></span>
                                <img class="img-profile rounded-circle" id="imgAvatar" src="~/Images/avataaars-2.png">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="/Guest/Details" id="callGasSetting">
                                    <i class="fa fa-whatsapp fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Dịch vụ gọi gas
                                </a>
                                <a class="dropdown-item" href="/Store/Details" id="storeSetting">
                                    <i class="fa fa-outdent fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Quản lí cửa hàng
                                </a>
                                <a class="dropdown-item" href="/Guest/Index">
                                    <i class="fa fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Thông tin cá nhân
                                </a>
                                <a class="dropdown-item" href="/User/Index">
                                    <i class="fa fa-key fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Đổi mật khẩu
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fa fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fa fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" id="myBtn" href="#">
                                    <i class="fa fa-sign-out fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Thoát
                                </a>
                            </div>
                        </li>

                    </ul>
                </nav>


                <div class="container-fluid">
                    @RenderBody()
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
            <!-- Footer-->
            <footer class="footer text-center" style="background-color:#ffffff">
                <div class="container-fluid">
                    <div class="row mt-4">
                        <!-- Footer Location-->
                        <div class="col-lg-4 mb-5 mb-lg-0">
                            <h4 class="text-uppercase mb-4">Chứng nhận chưa rõ ràng</h4>
                            <img src="~/Images/tải xuống.png" width="52%" />
                            <img class="mt-3" src="~/Images/bct-1509.png" width="52%" />
                            <p class="lead mt-3" style="font-size:2rem;margin-bottom:5px;">&copy; Copyright @DateTime.Now.Year - Pow Hipz</p>
                            <span class="lead" style="font-size:1.4rem;">All rights reserved.</span>
                        </div>
                        <div class="col-lg-4 mb-5 mb-lg-0">
                            <h4 class="text-uppercase mb-4">Thành viên trong đội ngũ</h4>
                            <p class="lead">
                                Đại diện: Đặng Quang Huy - MSSV: 1621050070
                                <br />
                                <i class="fa fa-facebook-square"> <a href="https://www.facebook.com/dqhuy4444" target="_blank">/dqhuy4444</a></i>
                            </p>
                            <p class="lead">
                                Quản lí dữ liệu: Phùng Thế Đại - MSSV: 1621050xxx
                                <br />
                                <i class="fa fa-facebook-square"> <a href="https://www.facebook.com/phungthedai1998" target="_blank">/phungthedai1998</a></i>
                            </p>
                            <p class="lead">
                                Thiết kế giao diện: Phạm Văn Kiên - MSSV: 1621050xxx
                                <br />
                                <i class="fa fa-facebook-square"> <a href="https://www.facebook.com/phamkien20041998" target="_blank">/phamkien20041998</a></i>
                            </p>
                            <p class="lead">
                                Phát triển mảng mobile: Đào Văn Nhạ - MSSV: 1621050xxx
                                <br />
                                <i class="fa fa-facebook-square"> <a href="https://www.facebook.com/nha.daovan.9" target="_blank">/nha.daovan.9</a></i>
                            </p>
                            <p class="lead">
                                Phân tích hệ thống : Hoàng Minh Thắng - MSSV: 1621050xxx
                                <br />
                                <i class="fa fa-facebook-square"> <a href="https://www.facebook.com/winhoang98" target="_blank">/winhoang98</a></i>
                            </p>
                        </div>
                        <!-- Footer Social Icons-->
                        <div class="col-lg-4 mb-5 mb-lg-0">
                            <h4 class="text-uppercase mb-4">Văn phòng đại diện</h4>
                            <p class="lead">
                                401 Cổ Nhuế, Bắc Từ Liêm, Hà Nội
                                <br />
                                SĐT : 19008198
                            </p>
                            <p class="lead">
                                Công ty TNHH 5 thành viên Điểm hẹn x
                                <br /><br />
                                Các kênh liên quan:
                                <a href="https://www.facebook.com/dqhuy4444" target="_blank"><img src="~/Images/iconjv_03-1714.png" class="imgSocialNet" /></a>
                                <a href="https://www.youtube.com/watch?v=7UF4_ZVIXEE" target="_blank"><img src="~/Images/iconjv_10-1715.png" class="imgSocialNet" /></a>
                                <a href="https://www.jupviec.vn/" target="_blank"><img src="~/Images/111-1722.jpg" class="imgSocialNet" /></a>
                            </p>
                        </div>
                        <!-- Footer About Text-->
                    </div>
                </div>
            </footer>
            <!-- Copyright Section-->
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>

    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <h2>Thông báo</h2>
                <span class="close" style="color:black">&times;</span>
            </div>
            <div class="modal-body">
                <br />
                <h4>Bạn có muốn thoát tài khoản này không ?</h4>
                <br />
            </div>
            <div class="modal-footer mb-2">
                <button class="btn btn-success" id="btnConfirm" onclick="logoutSystem()">Đồng ý</button>
                <button class="btn btn-danger" onclick="closePopup()">Thoát</button>
            </div>
        </div>
    </div>

    <div id="modelPermission" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <h2>Thông báo</h2>
                <span class="close" style="color:black">&times;</span>
            </div>
            <div class="modal-body">
                <br />
                Tài khoản của bạn vẫn chưa chọn quyền tài khoản.Hãy chọn quyền tài khoản ở bên dưới:
                <br />
                <br />
                <div class="text-center"    >
                    <button class="btn btn-success" style="margin-right:1rem;" onclick="setPermission(2)">Quyền khách hàng</button>
                    <button class="btn btn-success" onclick="setPermission(3)">Quyền cửa hàng</button>
                </div>

            </div>
            <div class="modal-footer mb-2">
                <button class="btn btn-danger" onclick="closePopup()">Thoát</button>
            </div>
        </div>
    </div>

    @*<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/Sb.admin.min.js"></script>
    <script src="~/Scripts/notify.min.js"></script>

    <script>
        $("#introProject").hide();

        var imgSrcBySes = sessionStorage.getItem("ImgSrc");
        if (imgSrcBySes != null)
            $("#imgAvatar").attr("src", imgSrcBySes);

        $(window).on('load', function ()
        {
            // show success or error mess
            if (typeof (Storage) !== "undefined") {
                var successMess = localStorage.getItem("successMess");
                if (successMess != null) {
                    message_Success(successMess);
                    localStorage.removeItem("successMess");
                }
                else {
                    var errorMess = localStorage.getItem("errorMess");
                    if (errorMess != null) {
                        message_Error('', errorMess);
                        localStorage.removeItem("errorMess");
                    }
                }
            }
            else {
                console.log("pohip");
            }

            $(".loader").hide();
        })

        var timeOut = setTimeout(
            function () {
                var permissionIDBySes = sessionStorage.getItem("PermissionID");
                if (permissionIDBySes != null && permissionIDBySes == 1) {
                    setTimeout(function () {
                        modal2.style.display = "block";
                    }, 1000);
                }
            }
            , 7000)

        //function getUrlParameters(parameter, staticURL, decode) {

        //    var currLocation = (staticURL.length) ? staticURL : window.location.search,
        //        parArr = currLocation.split("?")[1].split("&"),
        //        returnBool = true;

        //    for (var i = 0; i < parArr.length; i++) {
        //        parr = parArr[i].split("=");
        //        if (parr[0] == parameter) {
        //            return (decode) ? decodeURIComponent(parr[1]) : parr[1];
        //            returnBool = true;
        //        } else {
        //            returnBool = false;
        //        }
        //    }
        //    if (!returnBool) return false;
        //}
    </script>

    <script>
        var interval = setInterval(
            function () {
                var url = new URL(document.URL);
                var pathName = url.pathname;

                $("#loginArea").hide();
                $("#btn_GoToStorePage").hide();
                $("#btn_GoToCusPage").hide();
                $("#userArea").hide();
                $("#callGasSetting").hide();
                $("#storeSetting").hide();

                var userIDBySes = sessionStorage.getItem("UserID");
                var permissionIDBySes = sessionStorage.getItem("PermissionID");
                var guestNameBySes = sessionStorage.getItem("GuestName");
                var imgSrcBySes = sessionStorage.getItem("ImgSrc");

                if (userIDBySes && permissionIDBySes && guestNameBySes != null && imgSrcBySes) {
                    var guestName = (guestNameBySes === "") ? "Người dùng" : guestNameBySes;
                    $("#guestName").html(guestName);

                    $("#userArea").show();

                    if (pathName == "/Login/Index") {
                        clearInterval(interval);
                        window.location.href = "/Error/PageNotFound";
                    }

                    if (permissionIDBySes == 2) {
                        $("#btn_GoToCusPage").show();
                        $("#callGasSetting").show();

                        modal2.style.display = "none";

                        if (pathName == "/Store/Details") {
                            clearInterval(interval);
                            window.location.href = "/Error/PageNotFound";
                        }
                    }
                    else if (permissionIDBySes == 3) {
                        modal2.style.display = "none";

                        $("#storeSetting").show();
                        $("#btn_GoToStorePage").show();

                        if (pathName == "/Guest/Details") {
                            clearInterval(interval);
                            window.location.href = "/Error/PageNotFound";
                        }
                    }
                }
                else {
                    $("#loginArea").show();

                    clearInterval(interval);
                    sessionStorage.clear();

                    //pathName == "/Guest/Index" || pathName == "/Store/Details" || pathName == "/Guest/Details"
                    if (["/Guest/Index", "/Store/Details", "/Guest/Details", "/Store/Create"].indexOf(pathName) != - 1)
                        window.location.href = "/Error/PageNotFound";
                }
            }
            , 3e2);
    </script>

    <script>
        function setPermission(permissID) {
            var userIDBySes = sessionStorage.getItem("UserID");
            var user =
            {
                UserID: userIDBySes,
                PermissionID: permissID.toString()
            };

            $.ajax({
                type: 'Get',
                contentType: 'application/json; charset=utf-8',
                url: '/Guest/SetPermissionID',
                dataType: 'Json',
                data: user,
                success: function (data) {
                    sessionStorage.setItem("PermissionID", permissID);
                    modal2.style.display = "none";
                    message_Success("Cập nhật quyền tài khoản thành công");
                },
                error: function (data) {
                    message_Error("", "Cập nhật quyền tài khoản thất bại")
                },
            });


        }

        function message_Error(id, strMess) {
            if (id === '') {
                setTimeout($('.notifyjs-wrapper').remove(), 2000);
                $.notify(
                    strMess,
                    { position: "top-center" }
                );
            }
            else {
                setTimeout($('.notifyjs-wrapper').remove(), 2000);
                $("#" + id).notify(
                    strMess,
                    { position: "top center" }
                );
            }
        }

        function message_Success(strMess) {
            $('.notifyjs-wrapper').remove();
            $.notify(
                strMess,
                "success"
            );
        }

        function scrollToSection(id) {
            var targetElement = $('#' + id);
            $([document.documentElement, document.body]).animate({
                scrollTop: targetElement.offset().top
            }, 900);
        }

        function checkValidTxt(idTxt) {
            var strEmpty = "Chưa nhập thông tin";
            var strLength = "Nhập thiếu .Thông tin phải bằng hoặc lớn hơn 6 kí tự";
            var strTxt = $('#' + idTxt).val();

            if (!strTxt) {
                message_Error(idTxt, strEmpty);
                return false;
            }
            else if (strTxt.length < 6) {
                message_Error(idTxt, strLength);
                return false;
            }
            return true;
        }

    </script>

    <script>
        // Get the modal
        var modal = document.getElementById("myModal");
        var modal2 = document.getElementById("modelPermission");
        
        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        var span2 = document.getElementsByClassName("close")[1];
        // When the user clicks the button, open the modal
        btn.onclick = function () {
            modal.style.display = "block";
        }

        function closePopup() {
            modal.style.display = "none";
            modal2.style.display = "none";
        }

        function logoutSystem() {
            clearInterval(interval);
            sessionStorage.clear();
            window.location.href = "/Store/Index";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        span2.onclick = function () {
            modal2.style.display = "none";
        }
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
</body>
</html>
