<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gọi gas nhanh như gọi đò</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Sb.admin.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="~/Scripts/jquery.min.js"></script>
    <style>

        .imgSocialNet {
            margin-right: 0.8rem;
            height: 4.0rem;
            width: 10%;
        }

        .loader {
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 100;
            width: 100%;
            height: 100%;
            background-color: white;
            background-image: url("https://images.squarespace-cdn.com/content/v1/5344a472e4b092b8f017d821/1454573550903-N17DKEYFJLDUV04XAX7V/ke17ZwdGBToddI8pDm48kPoswlzjSVMM-SxOp7CV59BZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZamWLI2zvYWH8K3-s_4yszcp2ryTI0HqTOaaUohrI8PI6FXy8c9PWtBlqAVlUS5izpdcIXDZqDYvprRqZ29Pw0o/untitled_2.gif?format=1500w");
            background-repeat: no-repeat;
            background-position: center;
        }
    </style>
</head>
<body id="page-top">
    <div class="loader"></div>
    <div id="wrapper">
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" style="margin-bottom:0rem !important">
                    <a class="navbar-brand btn btn-danger" style="font-size:1.8rem;padding:1rem 2.4rem;" href="/Store/Index">Trang chủ</a>
                    <a class="navbar-brand btn btn-group" href="#page-top">Trở thành đối tác cửa hàng</a>
                    <a class="navbar-brand btn btn-group" href="#page-top">Khách hàng gọi gas</a>
                    <a class="navbar-brand btn btn-group" href="#" onclick="scrollToIntroSection()" id="introProject">Giới thiệu về chúng tôi</a>
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <ul class="navbar-nav ml-auto">
                        <a class="btn btn-danger" style="font-size:1.5rem;padding:0.8rem 2.2rem;background-color:#f5cf71!important;margin-right:1.2rem;" href="/Login/Index?mode=1">Đăng kí tài khoản</a>
                        <a class="btn btn-danger" style="font-size:1.5rem;padding:0.8rem 2.2rem;background-color:#4e73df!important;" href="/Login/Index">Đăng nhập</a>
                    </ul>
                    <!-- Topbar Navbar -->
                    @*<ul class="navbar-nav ml-auto">
                            <!-- Nav Item - Alerts -->
                            <li class="nav-item dropdown no-arrow mx-1">
                                <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-bell fa-fw"></i>
                                    <!-- Counter - Alerts -->
                                    <span class="badge badge-danger badge-counter">3+</span>
                                </a>
                                <!-- Dropdown - Alerts -->
                                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                                    <h6 class="dropdown-header">
                                        Alerts Center
                                    </h6>
                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="mr-3">
                                            <div class="icon-circle bg-primary">
                                                <i class="fas fa-file-alt text-white"></i>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="small text-gray-500">December 12, 2019</div>
                                            <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                        </div>
                                    </a>
                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="mr-3">
                                            <div class="icon-circle bg-success">
                                                <i class="fas fa-donate text-white"></i>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="small text-gray-500">December 7, 2019</div>
                                            $290.29 has been deposited into your account!
                                        </div>
                                    </a>
                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="mr-3">
                                            <div class="icon-circle bg-warning">
                                                <i class="fas fa-exclamation-triangle text-white"></i>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="small text-gray-500">December 2, 2019</div>
                                            Spending Alert: We've noticed unusually high spending for your account.
                                        </div>
                                    </a>
                                    <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                                </div>
                            </li>

                            <!-- Nav Item - Messages -->
                            <li class="nav-item dropdown no-arrow mx-1">
                                <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-envelope fa-fw"></i>
                                    <!-- Counter - Messages -->
                                    <span class="badge badge-danger badge-counter">7</span>
                                </a>
                                <!-- Dropdown - Messages -->
                                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                                    <h6 class="dropdown-header">
                                        Message Center
                                    </h6>
                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="dropdown-list-image mr-3">
                                            <img class="rounded-circle" src="https://source.unsplash.com/fn_BT9fwg_E/60x60" alt="">
                                            <div class="status-indicator bg-success"></div>
                                        </div>
                                        <div class="font-weight-bold">
                                            <div class="text-truncate">Hi there! I am wondering if you can help me with a problem I've been having.</div>
                                            <div class="small text-gray-500">Emily Fowler · 58m</div>
                                        </div>
                                    </a>
                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="dropdown-list-image mr-3">
                                            <img class="rounded-circle" src="https://source.unsplash.com/AU4VPcFN4LE/60x60" alt="">
                                            <div class="status-indicator"></div>
                                        </div>
                                        <div>
                                            <div class="text-truncate">I have the photos that you ordered last month, how would you like them sent to you?</div>
                                            <div class="small text-gray-500">Jae Chun · 1d</div>
                                        </div>
                                    </a>
                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="dropdown-list-image mr-3">
                                            <img class="rounded-circle" src="https://source.unsplash.com/CS2uCrpNzJY/60x60" alt="">
                                            <div class="status-indicator bg-warning"></div>
                                        </div>
                                        <div>
                                            <div class="text-truncate">Last month's report looks great, I am very happy with the progress so far, keep up the good work!</div>
                                            <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                        </div>
                                    </a>
                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="dropdown-list-image mr-3">
                                            <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60" alt="">
                                            <div class="status-indicator bg-success"></div>
                                        </div>
                                        <div>
                                            <div class="text-truncate">Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good...</div>
                                            <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                        </div>
                                    </a>
                                    <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                                </div>
                            </li>

                            <div class="topbar-divider d-none d-sm-block"></div>

                            <!-- Nav Item - User Information -->
                            <li class="nav-item dropdown no-arrow">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">Valerie Luna</span>
                                    <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
                                </a>
                                <!-- Dropdown - User Information -->
                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                    <a class="dropdown-item" href="#">
                                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Profile
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Settings
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Activity Log
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Logout
                                    </a>
                                </div>
                            </li>

                        </ul>*@
                </nav>


                <div class="container-fluid">
                    @RenderBody()
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
            <!-- Footer-->
            <footer class="footer text-center" style="background-color:#ffffff">
                <div class="container-fluid">
                    <div class="row mt-4">
                        <!-- Footer Location-->
                        <div class="col-lg-4 mb-5 mb-lg-0">
                            <h4 class="text-uppercase mb-4">Chứng nhận chưa rõ ràng</h4>
                            <img src="~/Images/tải xuống.png" width="52%" />
                            <img class="mt-3" src="~/Images/bct-1509.png" width="52%" />
                            <p class="lead mt-3" style="font-size:2rem;margin-bottom:5px;">&copy; Copyright @DateTime.Now.Year - Pow Hipz</p>
                            <span class="lead" style="font-size:1.4rem;">All rights reserved.</span>
                        </div>
                        <div class="col-lg-4 mb-5 mb-lg-0">
                            <h4 class="text-uppercase mb-4">Thành viên trong đội ngũ</h4>
                            <p class="lead">
                                Đại diện: Đặng Quang Huy - MSSV: 1621050070
                                <br />
                                <i class="fa fa-facebook-square"> <a href="https://www.facebook.com/dqhuy4444" target="_blank">/dqhuy4444</a></i>
                            </p>
                            <p class="lead">
                                Quản lí dữ liệu: Phùng Thế Đại - MSSV: 1621050xxx
                                <br />
                                <i class="fa fa-facebook-square"> <a href="https://www.facebook.com/phungthedai1998" target="_blank">/phungthedai1998</a></i>
                            </p>
                            <p class="lead">
                                Thiết kế giao diện: Phạm Văn Kiên - MSSV: 1621050xxx
                                <br />
                                <i class="fa fa-facebook-square"> <a href="https://www.facebook.com/phamkien20041998" target="_blank">/phamkien20041998</a></i>
                            </p>
                            <p class="lead">
                                Phát triển mảng mobile: Đào Văn Nhạ - MSSV: 1621050xxx
                                <br />
                                <i class="fa fa-facebook-square"> <a href="https://www.facebook.com/nha.daovan.9" target="_blank">/nha.daovan.9</a></i>
                            </p>
                            <p class="lead">
                                Phân tích hệ thống : Hoàng Minh Thắng - MSSV: 1621050xxx
                                <br />
                                <i class="fa fa-facebook-square"> <a href="https://www.facebook.com/winhoang98" target="_blank">/winhoang98</a></i>
                            </p>
                        </div>
                        <!-- Footer Social Icons-->
                        <div class="col-lg-4 mb-5 mb-lg-0">
                            <h4 class="text-uppercase mb-4">Văn phòng đại diện</h4>
                            <p class="lead">
                                401 Cổ Nhuế, Bắc Từ Liêm, Hà Nội
                                <br />
                                SĐT : 19008198
                            </p>
                            <p class="lead">
                                Công ty TNHH 5 thành viên Điểm hẹn x
                                <br /><br />
                                Các kênh liên quan:
                                <a href="https://www.facebook.com/dqhuy4444" target="_blank"><img src="~/Images/iconjv_03-1714.png" class="imgSocialNet" /></a>
                                <a href="https://www.youtube.com/watch?v=7UF4_ZVIXEE" target="_blank"><img src="~/Images/iconjv_10-1715.png" class="imgSocialNet" /></a>
                                <a href="https://www.jupviec.vn/" target="_blank"><img src="~/Images/111-1722.jpg" class="imgSocialNet" /></a>
                            </p>
                        </div>
                        <!-- Footer About Text-->
                    </div>
                </div>
            </footer>
            <!-- Copyright Section-->
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>

    @*<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/Sb.admin.min.js"></script>
    <script src="~/Scripts/notify.min.js"></script>
    <script>
        function scrollToIntroSection() {
            var targetElement = $('#IntroSection');
            $([document.documentElement, document.body]).animate({
                scrollTop: targetElement.offset().top
            }, 1200);
        }

        function getUrlParameters(parameter, staticURL, decode) {

            var currLocation = (staticURL.length) ? staticURL : window.location.search,
                parArr = currLocation.split("?")[1].split("&"),
                returnBool = true;

            for (var i = 0; i < parArr.length; i++) {
                parr = parArr[i].split("=");
                if (parr[0] == parameter) {
                    return (decode) ? decodeURIComponent(parr[1]) : parr[1];
                    returnBool = true;
                } else {
                    returnBool = false;
                }
            }
            if (!returnBool) return false;
        }
    </script>

    <script>
        function message_Error(id, strMess) {
            if (id === '') {
                setTimeout($('.notifyjs-wrapper').remove(), 2000);
                $.notify(
                    strMess,
                    { position: "top-center" }
                );
            }
            else {
                setTimeout($('.notifyjs-wrapper').remove(), 2000);
                $("#" + id).notify(
                    strMess,
                    { position: "top center" }
                );
            }
        }

        function message_Success(strMess)
        {
            $('.notifyjs-wrapper').remove();
                $.notify(
                    strMess,
                    "success"
                );
        }
    </script>
</body>
</html>
