
@{
    ViewBag.Title = "PageNotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center" style="margin:11rem 0;">
    <div class="error mx-auto" data-text="404">404</div>
    <p class="lead text-gray-800 mb-5">Page Not Found</p>
    <h4 class="text-gray-500 mb-0">Có vẻ bạn đã lạc lối giống như cái cách bạn say đắm nụ cười cô ấy</h4>
    <a href="~/Store/Index" ><h5 style="margin-top:1rem;">&larr;Trở về hiện tại</h5></a>
</div>

<script>
    $(".loader").hide();
    $("#introProject").hide();
</script>
