.leaflet-popup-content {
    margin: 15px 25px;
    line-height: 1.4;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #656;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.fullscreen-icon {
    background-image: url('../../Images/icon-fullscreen.png');
}

.leaflet-retina .fullscreen-icon {
    background-image: url('../../Images/icon-fullscreen-2x.png');
    background-size: 26px 26px;
}

.leaflet-container:-webkit-full-screen {
    width: 100% !important;
    height: 100% !important;
    z-index: 99999;
}

.leaflet-container:-ms-fullscreen {
    width: 100% !important;
    height: 100% !important;
    z-index: 99999;
}

.leaflet-container:full-screen {
    width: 100% !important;
    height: 100% !important;
    z-index: 99999;
}

.leaflet-container:fullscreen {
    width: 100% !important;
    height: 100% !important;
    z-index: 99999;
}

.leaflet-pseudo-fullscreen {
    position: fixed !important;
    width: 100% !important;
    height: 100% !important;
    top: 0px !important;
    left: 0px !important;
    z-index: 99999;
}

#idGasMap {
    width: 100%;
    height: 600px;
}

.map-popup-content {
    width: 300px;
}

    .map-popup-content .left {
        float: left;
        width: 40%;
    }

        .map-popup-content .left img {
            width: 100%;
            height: 100px;
            margin: -15px 0 -15px -20px;
            border-radius: 12px;
        }

    .map-popup-content .right {
        float: left;
        width: 60%;
    }

.clearfix {
    clear: both;
}

.toggle {
    background: orange !important;
}

    .toggle:hover {
        background: darkorange !important;
    }


.marker-pin {
    width: 30px;
    height: 30px;
    border-radius: 50% 50% 50% 0;
    background: #c30b82;
    position: absolute;
    transform: rotate(-45deg);
    left: 50%;
    top: 50%;
    margin: -15px 0 0 -15px;
}

    .marker-pin::after {
        content: '';
        width: 24px;
        height: 24px;
        margin: 3px 0 0 3px;
        background: #fff;
        position: absolute;
        border-radius: 50%;
    }

.custom-div-icon i {
    position: absolute;
    width: 22px;
    font-size: 22px;
    left: 0;
    right: 0;
    margin: 10px auto;
    text-align: center;
}

    .custom-div-icon i.awesome {
        margin: 12px auto;
        font-size: 17px;
    }
